---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
>
    <div class="prose dark:prose-invert prose-lg mx-auto">
        <h1>About Me</h1>
        <p>
            Welcome to my personal website! I am a software engineer passionate about...
        </p>
        <h2>Skills</h2>
        <ul>
            <li>JavaScript / TypeScript</li>
            <li>React / Astro / Next.js</li>
            <li>Node.js / Python</li>
        </ul>
        <h2>Contact</h2>
        <p>
            You can reach me at <a href="mailto:your-email@example.com">your-email@example.com</a>.
        </p>
    </div>
</Layout>
